.info{
    background: #F7F7F7;

}
.info-content{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}
.info-conteny-text h2{

    font-size: 36px;
    font-weight: 600;
    line-height: 36.57px;
    text-align: left;
    color: #292929;
    

}

.info-conteny-text-p p{
font-size: 16px;
font-weight: 400;
line-height: 19.49px;
text-align: left;
color: #292929;

}
.info-content-text-count{
    background: #FFFFFF;
    border: 1px solid #EDEDF0;
    padding: 10px 27px 24px 28px;
    border-radius: 5px;
}
.info-content-text-count h4{
 
font-size: 20px;
font-weight: 600;
line-height: 21.94px;
text-align: left;
color: #292929;

}
.info-content-text-count-in{
font-size: 16px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: #292929;

}
.info-content-text-count-in{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 440px;
    margin-top: -10px;
    

}
.info-content-text-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #EDEDF0;
    margin-top: 10px;
    padding: 15px 28px;
}
.info-content-text-price p{
font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: left;
color: #E7426A;

}
.info-content-text-price button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    padding: 15px 38px;
    background: #E7426A;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
    text-align: left;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
    
}
.info-content-text-price button img{
    width: 13.29px;
    height: 19px;
    max-width: 100%;
}
.info-content-img-in {
    display: flex;
    gap: 7px;
    margin-top: 14px;
    
    
}
.info-content-img-in img{
    border-radius: 8px;
    gap: 10px;
    width: 71.25px;
    height: 81.25px;
    max-width: 100%;
}
.info-content-text-cards-1{
    display: flex;
    align-items: center;
    gap: 27px;


}
.info-content-text-cards-2{
    display: flex;
    align-items: center;
    gap: 27px;

    
}
.info-content-text-cards-3{
    display: flex;
    align-items: center;
    gap: 27px;
    
}
.info-des{
    margin-top: 40px;
}

