.password{
  /* border:1px solid red;  */
  height: 300px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  border: 1px solid rgb(237, 237, 240);
  border-radius: 0px 0px 5px 5px;
  background: rgb(247, 235, 229);
}
.password h1{
    color: rgb(41, 41, 41);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.password span{
  width: 370px;
  color: rgb(41, 41, 41);
  font-family: Proxima Nova;
  font-size: 15px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0%;
  text-align: center;
}
.password button{
  width: 370px;
  height: 49px;
  border-radius: 3px;
  background: rgb(231, 66, 106);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}