  .login-box {
    width:570px;
    height: 500px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 50px;
  }
  
  .login-header img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .login-body {
    text-align: center;
    box-sizing: border-box;
    margin-top: -10px;
    border: 1px solid rgb(237, 237, 240);
    border-radius: 0px 0px 5px 5px;
    background: rgb(247, 235, 229);
    padding-bottom: 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-body h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left; 
    display: flex;
    flex-direction: column;
  }
  .login-form{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #555;
    margin: 0;
  }
  .form-group input {
    width: 370px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
    margin: 0;
  }
  
  .form-group input:focus {
    border-color: #ff4081;
    outline: none;
  }
  .form-link{
    text-align: end;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #e6376e;
    text-decoration: none;
  }
  .form-footer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width:370px;
  }
  .form-footer button{
    width: 100%;
    margin-left: -0px;
  }
  
  .forgot-password {
    font-size: 14px;
    color: #ff4081;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .login-button {
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #e6376e;
  }
  
  .sign-up-link {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    width: 200px;
    text-align: center;
    margin-left: 0px;
  }
  
  .sign-up-link a {
    color: #ff4081;
    text-decoration: none;
  }
  
  .sign-up-link a:hover {
    text-decoration: underline;
  }
  